# Modelo do transporte - parte 2

## Importação da biblioteca

In [1]:
import pyomo.environ as pyo

## Leitura dos dados de entrada

In [2]:
import pandas as pd

In [3]:
df_custos = pd.read_excel(open('dados_entrada.xlsx', 'rb'), sheet_name='custos')

In [4]:
df_custos

   origem_id   origem_descr  destino_id   destino_descr  custo_unitario
0          1         Osasco           1       São Paulo              12
1          1         Osasco           2  Rio de Janeiro              22
2          1         Osasco           3        Curitiba              30
3          2       Sorocaba           1       São Paulo              18
4          2       Sorocaba           2  Rio de Janeiro              24
5          2       Sorocaba           3        Curitiba              32
6          3  São Sebastião           1       São Paulo              22
7          3  São Sebastião           2  Rio de Janeiro              15
8          3  São Sebastião           3        Curitiba              34

In [5]:
custos = df_custos[['origem_id', 'destino_id', 'custo_unitario']].pivot(
    index='origem_id', 
    columns='destino_id', 
    values='custo_unitario').reset_index(drop=True).to_numpy()

In [6]:
custos

array([[12, 22, 30],
       [18, 24, 32],
       [22, 15, 34]])

In [7]:
df_fornecedores = pd.read_excel(open('dados_entrada.xlsx', 'rb'), sheet_name='fornecedores')

In [8]:
df_fornecedores

   fornecedor_id fornecedor_descr  capacidade
0              1           Osasco         100
1              2         Sorocaba         140
2              3    São Sebastião         160

In [9]:
capacidade = df_fornecedores['capacidade'].to_numpy()

In [10]:
capacidade

array([100, 140, 160])

In [11]:
df_consumidores = pd.read_excel(open('dados_entrada.xlsx', 'rb'), sheet_name='consumidores')

In [12]:
df_consumidores

   consumidor_id consumidor_descr  demanda
0              1        São Paulo      120
1              2   Rio de Janeiro      130
2              3         Curitiba      150

In [13]:
demanda = df_consumidores['demanda'].to_numpy()

In [14]:
demanda

array([120, 130, 150])

In [15]:
m = len(capacidade)
n = len(demanda)

## Modelo computacional

In [16]:
modelo = pyo.ConcreteModel()

### Conjuntos

$I \colon \text{Conjunto de distribuidores,} \; I = \{1,2,\ldots,m\},$

$J \colon \text{Conjunto de consumidores,} \; J = \{1,2,\ldots,n\}.$

### Parâmetros

$c_{ij} \colon \text{Custo unitário de transporte do distribuidor }i \in I \text{ para o consumidor }j \in J,$

$a_i \colon \text{Capacidade de fornecimento do distribuidor }i \in I$,

$b_j \colon \text{Demanda do consumidor }j \in J.$

### Variáveis de decisão

$x_{ij} \colon \text{Quantidade a ser transportada do distribuidor }i \in I \text{ para o consumidor }j \in J.$

### Função objetivo

$\text{min }z(x) = \sum_\limits{i \in I} \sum_\limits{j \in J} c_{ij} x_{ij}.$

### Restrições

#### Capacidade

$\sum_\limits{j \in J} x_{ij} = a_i, \;\; \forall i \in I,$

#### Demanda

$\sum_\limits{i \in I} x_{ij} = b_j, \;\; \forall j \in J,$

#### Não negatividade

$x_{ij} \geq 0 \;\; \forall i \in I, j \in J.$

In [17]:
# Conjuntos:
modelo.I = pyo.RangeSet(m)
modelo.J = pyo.RangeSet(n)

# Parâmetros:
modelo.c = pyo.Param(modelo.I, modelo.J, initialize=lambda modelo, i, j: custos[i-1][j-1])
modelo.a = pyo.Param(modelo.I, initialize=lambda modelo, i: capacidade[i-1])
modelo.b = pyo.Param(modelo.J, initialize=lambda modelo, j: demanda[j-1])

# Variáveis de decisão:
modelo.x = pyo.Var(modelo.I, modelo.J, within=pyo.NonNegativeReals)

# Função objetivo:
def regra_z(mod):
    return pyo.summation(mod.c, mod.x)

modelo.z = pyo.Objective(rule=regra_z, sense=pyo.minimize) # minimize = default

# Restrições de capacidade:
def regra_capacidade(mod, i):
    return sum(mod.x[i,j] for j in mod.J) <= mod.a[i]

modelo.restr_capacidade = pyo.Constraint(modelo.I, rule=regra_capacidade)

# Restrições de demanda:
def regra_demanda(mod, j):
    return sum(mod.x[i,j] for i in mod.I) >= mod.b[j]

modelo.restr_demanda = pyo.Constraint(modelo.J, rule=regra_demanda)

# Lembrete: as restrições de não negatividade já foram definidas através do argumento 'within' das variáveis de decisão

## Impressão do modelo

In [18]:
# modelo.pprint()

## Resolução

In [19]:
resultado = pyo.SolverFactory('glpk').solve(modelo)

In [20]:
resultado.write()

# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: unknown
  Lower bound: 8370.0
  Upper bound: 8370.0
  Number of objectives: 1
  Number of constraints: 7
  Number of variables: 10
  Number of nonzeros: 19
  Sense: minimize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 0
      Number of created subproblems: 0
  Error rc: 0
  Time: 0.026992082595825195
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0

In [21]:
modelo.x.pprint()

x : Size=9, Index=x_index
    Key    : Lower : Value : Upper : Fixed : Stale : Domain
    (1, 1) :     0 : 100.0 :  None : False : False : NonNegativeReals
    (1, 2) :     0 :   0.0 :  None : False : False : NonNegativeReals
    (1, 3) :     0 :   0.0 :  None : False : False : NonNegativeReals
    (2, 1) :     0 :  20.0 :  None : False : False : NonNegativeReals
    (2, 2) :     0 :   0.0 :  None : False : False : NonNegativeReals
    (2, 3) :     0 : 120.0 :  None : False : False : NonNegativeReals
    (3, 1) :     0 :   0.0 :  None : False : False : NonNegativeReals
    (3, 2) :     0 : 130.0 :  None : False : False : NonNegativeReals
    (3, 3) :     0 :  30.0 :  None : False : False : NonNegativeReals

In [22]:
modelo.z()

8370.0

## Impressão dos resultados

In [23]:
for j in modelo.J:
    consumidor = df_consumidores['consumidor_descr'].iloc[j-1]
    print(f'* Consumidor {consumidor} receberá:')
    c_total = 0
    for i in modelo.I:
        fornecedor = df_fornecedores['fornecedor_descr'].iloc[i-1]
        x = modelo.x[i,j]()
        c = modelo.c[i,j]*x
        c_total = c_total + c
        if x > 0:
            print(f'     - {x} unidades de {fornecedor} - Valor: R$ {c}')
    print(f'     - Total: R$ {c_total}')
    print('')
print(f'Custo total de transporte: R$ {modelo.z()}')

* Consumidor São Paulo receberá:
     - 100.0 unidades de Osasco - Valor: R$ 1200.0
     - 20.0 unidades de Sorocaba - Valor: R$ 360.0
     - Total: R$ 1560.0

* Consumidor Rio de Janeiro receberá:
     - 130.0 unidades de São Sebastião - Valor: R$ 1950.0
     - Total: R$ 1950.0

* Consumidor Curitiba receberá:
     - 120.0 unidades de Sorocaba - Valor: R$ 3840.0
     - 30.0 unidades de São Sebastião - Valor: R$ 1020.0
     - Total: R$ 4860.0

Custo total de transporte: R$ 8370.0